[Unit]
Description=Go Ethereum Client - Holesky Testnet
After=network.target
Wants=network.target

[Service]
User=root
Type=simple
EnvironmentFile=/root/holesky-node/.env

ExecStart=/usr/bin/geth \
  --holesky \
  --port ${P2P_GETH_PORT} \
  --authrpc.addr ${LISTEN_ADDRESS} \
  --authrpc.port ${AUTHRPC_PORT} \
  --authrpc.vhosts=* \
  --authrpc.jwtsecret ${JWT_SECRET} \
  --http \
  --http.addr ${LISTEN_ADDRESS} \
  --http.port ${HTTP_GETH_PORT} \
  --http.api eth,net,engine,web3 \
  --http.corsdomain "*" \
  --syncmode "snap" \
  --gcmode=full \
  --datadir ${GETH_DATADIR} \
  --verbosity 3 \
  --cache=1024 \
  --maxpeers=25 \
  --txlookuplimit=0 \
  --ipcdisable

Restart=on-failure
RestartSec=5
LimitNOFILE=65535

[Install]
WantedBy=default.target

