[Unit]
Description=Go Ethereum Client - Holesky Testnet
After=network.target
Wants=network.target

[Service]
User=root
Type=simple
ExecStart=/usr/bin/geth \
  --holesky \
  --port 30305 \
  --authrpc.addr 0.0.0.0 \
  --authrpc.port 8553 \
  --authrpc.vhosts=* \
  --authrpc.jwtsecret /root/holesky-node/data/jwtsecret \
  --http \
  --http.addr 0.0.0.0 \
  --http.port 8550 \
  --http.api eth,net,engine,admin,web3 \
  --http.corsdomain "*" \
  --ws \
  --ws.addr 0.0.0.0 \
  --ws.port 8554 \
  --ws.api eth,net,engine,admin,web3 \
  --syncmode "full" \
  --gcmode=full \
  --datadir /root/holesky-node/data/geth \
  --verbosity 3 \
  --cache=4096 \
  --txlookuplimit=0 \
  --maxpeers=100 \
Restart=on-failure
LimitNOFILE=65535

[Install]
WantedBy=default.target
