[Unit]
Description=Lighthouse Ethereum Client - Holesky Testnet
After=network.target geth-holesky.service
Wants=network.target geth-holesky.service

[Service]
User=root
Type=simple
EnvironmentFile=/root/holesky-node/.env

ExecStart=/root/.cargo/bin/lighthouse bn \
  --network holesky \
  --datadir ${LIGHTHOUSE_DATADIR} \
  --execution-endpoint ${EXECUTION_ENDPOINT} \
  --execution-jwt ${JWT_SECRET} \
  --checkpoint-sync-url ${CHECKPOINT_SYNC_URL} \
  --http \
  --http-address ${LISTEN_ADDRESS} \
  --http-port ${HTTP_LIGHTHOUSE_PORT} \
  --port ${P2P_LIGHTHOUSE_PORT} \
  --target-peers 25 \
  --logfile-compress

Restart=on-failure
RestartSec=5
LimitNOFILE=65535

[Install]
WantedBy=default.target
